.aside-container {
  background-image: url("/assets/Background.png");
  background-size: cover;
  background-position: center;
  padding: 2rem;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.aside-container aside h1 {
  font-family: "Leckerli One", sans-serif;
  color: var(--pink);
  font-weight: 400;
  font-size: 2.5rem;
}

.aside-container aside p {
  font-family: "Open Sans", sans-serif;
  color: var(--text-heading);
  font-size: 1rem;
}
