.form-container {
  background-color: var(--shape-background);
  padding: 5rem 8.125rem;
  overflow-y: scroll;
}

.form-container fieldset {
  border: none;
}

.form-container fieldset legend {
  color: var(--text-heading);
  font-family: "Baloo 2", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
}

.form-container .about-event {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 2.5rem;
}

.form-container .about-event span {
  font-family: "Baloo 2", sans-serif;
  color: var(--text-heading);
  font-size: 1.125rem;
  font-weight: bold;
}

.form-container .input-container {
  margin-top: 1.5rem;
}

.form-container .input-wrapper {
  margin-bottom: 1rem;
}

.form-container .input-wrapper label {
  display: block;
  margin-bottom: 0.75rem;
  font-family: "Open Sans", sans-serif;
  color: var(--text-body);
}

.form-container .input-wrapper input {
  padding: 0.8125rem;
  width: 35.5rem;
  background-color: var(--input-background);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  color: var(--input-placeholder);
}

.form-container .input-wrapper input::placeholder {
  color: var(--input-placeholder);
}

.form-container .input-wrapper-flex {
  display: flex;
  gap: 16px;
  margin-bottom: 1rem;
  align-items: center;
}

.form-container .input-wrapper-flex label {
  display: block;
  color: var(--text-body);
  margin-bottom: 12px;
}

.form-container .input-wrapper-flex input {
  padding: 0.8125rem;
  width: 17rem;
  background-color: var(--input-background);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  color: var(--input-placeholder);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.togle {
  display: flex;
  align-items: center;
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
}

.presencial {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 8.125rem;
  padding: 0.7rem 1.13rem;
}

.presencial span {
  font-family: "Baloo 2", sans-serif;
  font-size: 0.876rem;
  color: var(--text-heading);
}

.online {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.7rem 1.13rem;
}

.online span {
  font-family: "Baloo 2", sans-serif;
  font-size: 0.876rem;
  color: var(--text-heading);
}

.online:hover {
  background-color: var(--shape-hover);
  border-radius: 8px;
}

.presencial:hover {
  background-color: var(--shape-hover);
  border-radius: 8px;
}

.local {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.local input {
  width: 17rem;
}

.input-wrapper textarea {
  width: 35rem;
  background-color: var(--input-background);
  border-radius: 8px;
  border: 1px solid var(--input-stroke);
  color: var(--input-placeholder);
  padding: 16px;
}

.input-wrapper textarea::placeholder {
  color: var(--input-placeholder);
}

.splashbrush {
  display: flex;
  align-items: center;
  margin-bottom: 1.75rem;
}

.splashbrush .heading {
  display: flex;
  align-items: center;
  gap: 12px;
}

.splashbrush .container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.splashbrush .container span {
  color: var(--text-heading);
}

.color-pallete {
  display: flex;
  gap: 12px;
}

.color-pallete .color-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--shape-button);
  width: 40px;
  height: 40px;
  border-radius: 999px;
  margin-top: 1rem;
}

.color-pallete .color-circle .color {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.color-pallete .color-circle:hover {
  border: 2px solid var(--brand-light);
}

.heading-event {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.card {
  background-color: var(--shape-button);
  display: flex;
  flex-direction: column;
  padding: 4px;
  align-items: center;
  border-radius: 8px;
}
.card img {
  width: 100%;
  border-radius: 8px; /* opcional */
}

.card:hover {
  border: 2px solid var(--brand-light);
}

.card p {
  margin-top: 8px;
  color: var(--text-heading);
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
}

.style-container {
  display: flex;
  gap: 16px;
  margin-top: 1.5rem;
}

.heading-style span {
  color: var(--text-heading);
  font-family: "Baloo 2", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
}

#chk {
  display: none;
}

.switch {
  position: relative;
  background-color: var(--input-background);
  width: 64px;
  height: 32px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: 1px solid var(--input-stroke);
}

.slider {
  position: absolute;
  background-color: var(--shape-button);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: all 0.5s ease-in-out;
}

.style-input-wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  gap: 12px;
}

.img {
  width: 16px;
  height: 16px;
}

.file-upload-wrapper {
  position: relative;
  display: inline-block;
}

.file-upload {
  display: none;
}

.custom-file-upload {
  background-color: var(--input-background);
  color: #f1e5e6;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s;
}

.custom-file-upload:hover {
  background-color: #545658;
}

.upload-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.upload-icon {
  width: 100%;
  height: 100%;
  stroke: #7da7f8;
}
